version: 2.1
orbs:
  node: circleci/node@5.3
jobs:
  build-test:
    working_directory: '~/sam-types'
    docker:
      #- image: eu.gcr.io/sam-non-production/circle-gsdk-firebase-node-v2
      #  auth:
      #    username: _json_key
      #    password: $GCLOUD_CONTAINER_REGISTRY_SERVICE_KEY
      - image: cimg/node:18.20.2 #See: https://circleci.com/developer/images/image/cimg/node
    steps:
      - checkout
      - node/install:
          install-yarn: true
          node-version: '18.20'
      - run: node --version
      - run:
          name: tsc
          command: |
            npm i
            npm run tsc
      - store_artifacts:
          path: package-lock.json
      - persist_to_workspace:
          root: .
          paths:
            - .
  deploy:
    working_directory: '~/sam-types'
    docker:
      #- image: eu.gcr.io/sam-non-production/circle-gsdk-firebase-node-v2
      #  auth:
      #    username: _json_key
      #    password: $GCLOUD_CONTAINER_REGISTRY_SERVICE_KEY
      - image: cimg/node:18.20.2 #See: https://circleci.com/developer/images/image/cimg/node
    steps:
      - checkout
      - attach_workspace:
          at: .
      - node/install:
          install-yarn: true
          node-version: '18.20'
      - run: node --version
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/sam-types/.npmrc
      - run:
          name: NPM-Deploy
          command: |
            cd ~/sam-types
            echo "Add Version Number"
            npm version ${CIRCLE_TAG} -f -no-git --no-git-tag-version

            echo "Update NPM"
            npm publish --access public .
workflows:
  build-deploy:
    jobs:
      - build-test:
          filters:
            tags:
              only:
                - /^[0-9]+(\.[0-9]+)*$/
      - deploy:
          requires:
            - build-test
          filters:
            tags:
              only:
                - /^[0-9]+(\.[0-9]+)*$/
            branches:
              ignore:
                - /.*/
